/*
 * Copyright 2021-2022 HNU-ESNL
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/{
    soc {

        /* VM's uart0 here! */
		uart1: uart@1c0a0000 {

			compatible = "arm,pl011";
			reg = <0x0 0x1c0a0000 0x0 0x1000>;
			status = "disabled";
			interrupts = <GIC_SPI 6 0 IRQ_TYPE_LEVEL>; //<SECOND PARA IS OFFSET>
			interrupt-names = "irq_0";
			label = "UART_1";
			clocks = <&uartclk>;
		};

		/* VM's uart1 here! */
		uart2: uart@1c0b0000 {

			compatible = "arm,pl011";
			reg = <0x0 0x1c0b0000 0x0 0x1000>;
			status = "disabled";
			interrupts = <GIC_SPI 7 0 IRQ_TYPE_LEVEL>; //<SECOND PARA IS OFFSET>
			interrupt-names = "irq_0";
			label = "UART_2";
			clocks = <&uartclk>;
		};
    };

    /*TODO: The device that used by vm will be added below. */
    vm_zephyr_space {
        #address-cells = <2>;
        #size-cells = <2>;
        compatible = "zephyr-vm";
        dtb_address = <0xa9000000>;
        dtb_size = <DT_SIZE_M(2)>;

        memory@a0000000 {
            compatible = "vm-dram";

            memmap_type = "dirct";
            address_type = "normal_memory";
            vm_reg_base = <0x88000000>;
            reg = <0x0 0xa0000000 0x0 DT_SIZE_M(2)>; 	/* zephyr vm memory size (2M) */
            label = "VM0_MEM";
        };

    };

    vm_linux_space {
        #address-cells = <2>;
        #size-cells = <2>;
        compatible = "linux-vm";
        dtb_address = <0xc0000000>;
        dtb_size = <DT_SIZE_M(2)>;

        memory@b0000000 {
            compatible = "vm-dram";

            memmap_type = "dirct";
            address_type = "normal_memory";
            vm_reg_base = <0x80000000>;
            reg = <0x0 0xb0000000 0x0 DT_SIZE_M(1024)>;	/* linux vm memory size (1G)*/
            label = "VM1_MEM";
        };
    };

};

&uart1 {
	status = "okay";
	current-speed = <115200>;
};

&uart2 {
	status = "okay";
	current-speed = <115200>;
};
