/*
 * Copyright 2021-2022 HNU
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/{
	aliases {
        vmvirtio1 = "/soc/virtio_mmio@a000000";
        vmvirtio2 = "/soc/virtio_mmio@a001000";
        linuxcpy = "/soc/linux_cpy@d8000000";
        /*Passthrough device.*/
		ptdevice1 = "/soc/pass_through_device/uart@9001000";
		ptdevice2 = "/soc/pass_through_device/uart@9002000";
        vmvirtmem = "/soc/virtmem@bf000000";
        vmshmemrw = "/soc/shmem_rw@bd000000";
	};

    chosen {
		vm,console = &uart0;
        zephyr_pcie_controller = "/soc/pcie@4010000000";
	};

    soc {

        virtio_mmio@a000000 {
            interrupts = <GIC_SPI 0x10 IRQ_TYPE_EDGE 0>;
            reg = <0x00 0xa000000 0x00 0x1000>;
            compatible = "virtio,mmio";
            device_type = "virtio";
            virtio_type = <2>;
        };

        virtio_mmio@a001000 {
            interrupts = <GIC_SPI 0x11 IRQ_TYPE_EDGE 0>;
            reg = <0x00 0xa001000 0x00 0x1000>;
            compatible = "virtio,mmio";
            device_type = "virtio";
            virtio_type = <2>;
        };

        virtmem@bf000000 {
            compatible = "arm,mem";
            device_type = "memory";
            reg = <0x00 0xbf000000 0x00 0x1000>;
            interrupts = <GIC_SPI 96 IRQ_TYPE_EDGE IRQ_DEFAULT_PRIORITY>;
            label = "VM_SHMEM";
            status = "okay";
        };

        shmem_rw@bd000000 {
            compatible = "shmem,rw";
            device_type = "memory";
            reg = <0x0 0xbd000000 0x0 0x10>;
            interrupts = <GIC_SPI 98 IRQ_TYPE_EDGE IRQ_DEFAULT_PRIORITY>;
            label = "VM_SHMEMRW";
            status = "okay";
        };

        linux_cpy@d8000000 {
            reg = <0x0 0xd8000000 0x0 DT_SIZE_M(240)>;
        };

        pass_through_device {

            #address-cells = <2>;
            #size-cells = <2>;
            ranges;

            uart1: uart@9001000 {
                compatible = "arm,pl011";
                reg = <0x00 0x09001000 0x00 0x1000>;
                interrupts = <GIC_SPI 10 IRQ_TYPE_EDGE 0>;
                interrupt-names = "irq_0";
                clocks = <&uartclk>;
                status = "reserved";
                current-speed = <115200>;
                label = "UART_1";
            };

            uart2: uart@9002000 {
                compatible = "arm,pl011";
                reg = <0x00 0x09002000 0x00 0x1000>;
                interrupts = <GIC_SPI 11 IRQ_TYPE_EDGE 0>;
                interrupt-names = "irq_0";
                clocks = <&uartclk>;
                status = "reserved";
                current-speed = <115200>;
                label = "UART_2";
            };

        };

        pcie@4010000000 {
            compatible = "pci-host-ecam-generic";
            interrupt-map-mask = <0x1800 0x00 0x00 0x07>;
            interrupt-map = <0x00 0x00 0x00 0x01 0x8005 0x00 0x00 0x00 0x03 0x04
                            0x00 0x00 0x00 0x02 0x8005 0x00 0x00 0x00 0x04 0x04
                            0x00 0x00 0x00 0x03 0x8005 0x00 0x00 0x00 0x05 0x04
                            0x00 0x00 0x00 0x04 0x8005 0x00 0x00 0x00 0x06 0x04
                            0x800 0x00 0x00 0x01 0x8005 0x00 0x00 0x00 0x04 0x04
                            0x800 0x00 0x00 0x02 0x8005 0x00 0x00 0x00 0x05 0x04
                            0x800 0x00 0x00 0x03 0x8005 0x00 0x00 0x00 0x06 0x04
                            0x800 0x00 0x00 0x04 0x8005 0x00 0x00 0x00 0x03 0x04
                            0x1000 0x00 0x00 0x01 0x8005 0x00 0x00 0x00 0x05 0x04
                            0x1000 0x00 0x00 0x02 0x8005 0x00 0x00 0x00 0x06 0x04
                            0x1000 0x00 0x00 0x03 0x8005 0x00 0x00 0x00 0x03 0x04
                            0x1000 0x00 0x00 0x04 0x8005 0x00 0x00 0x00 0x04 0x04
                            0x1800 0x00 0x00 0x01 0x8005 0x00 0x00 0x00 0x06 0x04
                            0x1800 0x00 0x00 0x02 0x8005 0x00 0x00 0x00 0x03 0x04
                            0x1800 0x00 0x00 0x03 0x8005 0x00 0x00 0x00 0x04 0x04
                            0x1800 0x00 0x00 0x04 0x8005 0x00 0x00 0x00 0x05 0x04>;
            #interrupt-cells = <0x01>;
            ranges = <0x1000000 0x00 0x00 0x00 0x3eff0000 0x00 0x10000>,
                    <0x2000000 0x00 0x10000000 0x00 0x10000000 0x00 0x10000000>,
                    <0x3000000 0x00 0x20000000 0x00 0x20000000 0x00 0x1eff0000>;
            reg = <0x40 0x10000000 0x00 0x10000000>;
            msi-parent = <&gic_ist>;
            bus-range = <0x00 0xff>;
            #size-cells = <0x02>;
            #address-cells = <0x03>;
            device_type = "pci";
        };

    };

    vm_zephyr_space {
        #address-cells = <2>;
        #size-cells = <2>;
        compatible = "zephyr-vm";
        dtb_address = <0x00000000>;
        dtb_size = <DT_SIZE_M(2)>;
        vcpu_num = <0x02>;

        zephyr_ddr: memory@c8000000 {
            compatible = "vm-dram";
            memmap_type = "direct";
            address_type = "normal_memory";
            vm_reg_base = <0x40000000>;
            vm_reg_size = <DT_SIZE_M(2)>;
            reg = <0x0 0xc8000000 0x0 DT_SIZE_M(1)>;
            label = "VM0_MEM";
        };
    };

    vm_linux_space {
        #address-cells = <2>;
        #size-cells = <2>;
        compatible = "linux-vm";
        dtb_address = <0xd0000000>;
        dtb_size = <DT_SIZE_M(2)>;
        vcpu_num = <0x01>;

        linux_ddr: memory@f0000000 {
            compatible = "vm-dram";
            memmap_type = "direct";
            address_type = "normal_memory";
            vm_reg_base = <0x40000000>;
            vm_reg_size = <DT_SIZE_M(1024)>;
            reg = <0x0 0xf0000000 0x0 DT_SIZE_M(300)>;
            label = "VM1_MEM";
        };

        /* Define a pci device instance for vm. */
        linux_ivshmem {
            compatible = "virtio,pci";
            /* ivshmem device */
            type = <0x03>;
            domain = <0x01>;
            bdf = <0x00>;
            /* little endian bar_mask */
            bar_mask0 = <0xfffff000>;
            bar_mask1 = <0x00000000>;
            bar_mask2 = <0x00000000>;
            bar_mask3 = <0x00000000>;
            bar_mask4 = <0x00000000>;
            bar_mask5 = <0x00000000>;
            shmem_region_start = <0x0>;
            shmem_dev_id = <0x0>;
            shmem_peers = <0x2>;
            shmem_protocol = <0x0>;
            status = "okay";
        };

    };
};
