/*
 * Copyright 2021-2022 HNU-ESNL
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/{
	aliases {
        vmvgic = "/soc/vgic@fd400000";
		ptdevice1 = "/soc/pass_through_device/serial@fe660000";
		ptdevice2 = "/soc/pass_through_device/serial@fe670000";
        ptdevice3 = "/soc/pass_through_device/gpio@fe760000";
        ptdevice4 = "/soc/pass_through_device/i2c@fe5b0000";
        ptdevice5 = "/soc/pass_through_device/i2c@fe5e0000";
        ptdevice6 = "/soc/pass_through_device/pwm@fe6f0000";
        ptdevice7 = "/soc/pass_through_device/i2c@fe5c0000";
        ptdevice8 = "/soc/pass_through_device/linuxdev@103000";
        ptdevice9 = "/soc/pass_through_device/serial@fe6c0000";
        linuxdebugger = "/soc/fiq-debugger";
        vmvirtmem = "/soc/virtmem@bf000000";
        vmshmemrw = "/soc/shmem_rw@bd000000";
	};

	chosen {
		vm,console = &uart9;
	};


    soc {

        vgic: vgic@fd400000 {
            compatible = "arm,gic";
            reg = <0x00 0xfd400000 0x00 0x10000>,
                    <0x00 0xfd460000 0x00 0xc0000>;
            label = "VM_VGIC";
        };

        pass_through_device {

            #address-cells = <2>;
            #size-cells = <2>;
            ranges;

            uart3: serial@fe670000 {
                compatible = "rockchip,rk3568-uart", "ns16550";
                reg = <0x0 0xfe670000 0x0 0x10000>;
                interrupts = <GIC_SPI 119 IRQ_TYPE_EDGE IRQ_DEFAULT_PRIORITY>;
                clocks = <&uartclk>;
                clock-frequency = <12000000>;
                reg-shift = <2>;
                status = "reserved";
                current-speed = <1500000>;
                label = "UART3";
            };

            uart8: serial@fe6c0000 {
                compatible = "rockchip,rk3568-uart", "ns16550";
                reg = <0x0 0xfe6c0000 0x0 0x10000>;
                interrupts = <GIC_SPI 124 IRQ_TYPE_EDGE IRQ_DEFAULT_PRIORITY>;
                clocks = <&uartclk>;
                clock-frequency = <12000000>;
                reg-shift = <2>;
                status = "reserved";
                current-speed = <9600>;
                label = "PTUART8";
            };

            /* VM1's uart here! rk3568's port num is uart9 */
            uart9: serial@fe660000 {
                compatible = "rockchip,rk3568-uart", "ns16550";
                reg = <0x0 0xfe660000 0x0 0x10000>;
                interrupts = <GIC_SPI 118 IRQ_TYPE_EDGE IRQ_DEFAULT_PRIORITY>;
                clocks = <&uartclk>;
                clock-frequency = <12000000>;
                reg-shift = <2>;
                status = "reserved";
                current-speed = <1500000>;
                label = "UART9";
            };

            gpio3: gpio@fe760000 {
                compatible = "rockchip,rk3568-gpio";
                gpio-controller;
                #gpio-cells = < 0x2 >;
                reg = <0x0 0xfe760000 0x0 0x1000 >;
                interrupts = < GIC_SPI 36 IRQ_TYPE_LEVEL IRQ_DEFAULT_PRIORITY >;
                lable = "GPIO_3";
                status = "okay";
            };

            i2c2: i2c@fe5b0000 {
                compatible = "rockchip,rk3399-i2c";
                reg = <0x0 0xfe5b0000 0x0 0x1000>;
                clock-frequency = <24000000>;
                interrupts = <GIC_SPI 48 IRQ_TYPE_LEVEL IRQ_DEFAULT_PRIORITY>;
                status = "okay";
            };

            i2c3: i2c@fe5c0000 {
                compatible = "rockchip,rk3399-i2c";
                reg = <0x0 0xfe5c0000 0x0 0x1000>;
                clock-frequency = <24000000>;
                interrupts = <GIC_SPI 49 IRQ_TYPE_LEVEL IRQ_DEFAULT_PRIORITY>;
                status = "okay";
            };

            i2c5: i2c@fe5e0000 {
                compatible = "rockchip,rk3399-i2c";
                reg = <0x0 0xfe5e0000 0x0 0x1000>;
                clock-frequency = <24000000>;
                interrupts = <GIC_SPI 51 IRQ_TYPE_LEVEL IRQ_DEFAULT_PRIORITY>;
                status = "okay";
            };

            pwm8: pwm@fe6f0000 {
                compatible = "rockchip,rk3568-pwm";
                reg = <0x0 0xfe6f0000 0x0 0x1000>;
                #pwm-cells = <3>;
                status = "okay";
            };

            pwm9: pwm@fe6f0010 {
                compatible = "rockchip,rk3568-pwm";
                reg = <0x0 0xfe6f0010 0x0 0x10>;
                #pwm-cells = <3>;
                status = "okay";
            };

            linuxdev: linuxdev@103000 {
                compatible = "rockchip,rk3399-i2c";
                reg = <0x0 0x103000 0x0 0x1000>;
                interrupts = <GIC_SPI 150 IRQ_TYPE_EDGE IRQ_DEFAULT_PRIORITY>;
                status = "okay";
                label = "LINUXDEV";
            };

        };

        debug_uart: fiq-debugger {
            compatible = "rockchip,fiq-debugger";
            rockchip,serial-id = <0x02>;
            rockchip,wake-irq = <0x00>;
            rockchip,irq-mode-enable = <0x01>;
            rockchip,baudrate = <1500000>;
            interrupts = <GIC_SPI 220 IRQ_TYPE_EDGE IRQ_DEFAULT_PRIORITY>;
            status = "okay";
        };

        virtmem@bf000000 {
            compatible = "arm,mem";
            device_type = "memory";
            reg = <0x0 0xbf000000 0x0 0x1000>;
            interrupts = <GIC_SPI 96 IRQ_TYPE_EDGE 0x2>;
            label = "VM_SHMEM";
            status = "okay";
        };

        shmem_rw@bd000000 {
            compatible = "shmem,rw";
            device_type = "memory";
            reg = <0x0 0xbd000000 0x0 0x1000>;
            interrupts = <GIC_SPI 98 IRQ_TYPE_EDGE 0x2>;
            label = "VM_SHMEMRW";
            status = "okay";
        };

    };

    /*TODO: The device that used by vm will be added below. */
    vm_zephyr_space {
        #address-cells = <2>;
        #size-cells = <2>;
        compatible = "zephyr-vm";
        dtb_address = <0x49000000>;
        dtb_size = <DT_SIZE_M(2)>;

        zephyr_ddr: memory@48000000 {
            compatible = "vm-dram";
            memmap_type = "dirct";
            address_type = "normal_memory";
            vm_reg_base = <0x40000000>;
            vm_reg_size = <DT_SIZE_M(2)>;
            reg = <0x0 0x48000000 0x0 DT_SIZE_M(2)>;
            label = "VM0_MEM";
        };

    };

    vm_linux_space {
        #address-cells = <2>;
        #size-cells = <2>;
        compatible = "linux-vm";
        dtb_address = <0xbe000000>;
        dtb_size = <DT_SIZE_M(2)>;

        linux_ddr: memory@80000000 {
            compatible = "vm-dram";
            memmap_type = "dirct";
            address_type = "normal_memory";
            vm_reg_base = <0x40000000>;
            vm_reg_size = <DT_SIZE_M(1024)>;
            reg = <0x0 0x80000000 0x0 DT_SIZE_M(64)>;
            label = "VM1_MEM";
        };
    };

};
