# SPDX-License-Identifier: Apache-2.0

# Platform Configuration
CONFIG_SOC_SERIES_RK3568=y
CONFIG_SOC_RK3568=y
CONFIG_BOARD_ROC_RK3568_PC=y

# SMP support
CONFIG_SMP=y
CONFIG_ARMV8_A_NS=y
CONFIG_MP_NUM_CPUS=4
CONFIG_TIMEOUT_64BIT=y
CONFIG_CACHE_MANAGEMENT=y

# PSCI is supported
CONFIG_PM=y
CONFIG_PM_CPU_OPS=y
CONFIG_PM_CPU_OPS_PSCI=y

# Enable Timer and Sys clock
CONFIG_ARM_ARCH_TIMER=y
CONFIG_CLOCK_CONTROL=y

# Serial Drivers
CONFIG_SERIAL=y
CONFIG_UART_NS16550=y
CONFIG_UART_INTERRUPT_DRIVEN=y

CONFIG_KERNEL_VM_SIZE=0x3200000

# System control register
CONFIG_SYSCON=y

# clock controller
CONFIG_CLOCK_CONTROL_RK3568=y